<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item">
      <p class="lead"><%= comment.body %></p>
      <small class="text-muted">Submitted <%= time_ago_in_words(comment.created_at) %> by <%= comment.user.email %></small>

      <div class="btn-group">
        <% if comment.user == current_user %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        <% end %>
      </div>
    </li>
  </ul>
</div>